body {
    background: rgb(255,0,0);
    background: -moz-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(14,132,240,1) 50%, rgba(69,252,130,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(14,132,240,1) 50%, rgba(69,252,130,1) 100%);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(14,132,240,1) 50%, rgba(69,252,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#45fc82",GradientType=1);
}
h1 {
    color:red;
    font-style:italic;
    text-align: center;
    font-family: 'EB Garamond', serif;
}
h2 {
    color:#03bafc;
    text-align:center;
    font-family: 'EB Garamond', serif;
}
p {
    font-family: 'EB Garamond', serif;
    text-align: center;
    color:#03fc52;
}
li {
    text-align: center;
    color:#03fc52;
    font-family: 'EB Garamond', serif;
}